<!doctype html>
<html>
  <head>
    <title>Princeton Entrepreneurship</title>
    {% assets output="packed/assets.js", "js/jquery.js", "js/jquery.filedrop.js", "js/bootstrap.js",  "js/d3.js", "js/d3.fisheye.js", "js/nv.d3.js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% assets output="packed/assets.css", "css/bootstrap.css", "css/nv.d3.css", "css/style.css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}"/>
    {% endassets %}
    <link rel="icon" type="image/png" href="/static/img/favicon.png" />
  </head>
  <body>

    <div class="header">
      <div class="content">
        {% block header %}
        {% endblock %}
      </div>
    </div>

    <div class="container">
      <div class="content">
        {% block content %}
        {% endblock %}
      </div>
    </div>

    <div class="footer">
      <div class="content">
        &copy; 2013 Princeton Social Entrepreneurship Initiative +
        Princeton Entrepreneurship Club
      </div>
    </div>

  </body>
</html>
