<!doctype html>
<html>
  <head>
    <title>Princeton Entrepreneurship</title>
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/jquery.filedrop.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <link rel="icon" type="image/png" href="/static/img/favicon.png" />
  </head>
  <body>
    <div class="wrapper">

      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li><br/>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}

      <div class="header">
        <div class="content">
          {% block header %}
          <div class="title">
            <a href="/">{{ title|safe }}</a>
          </div>
          <div class="subtitle">{{ tagline|safe }}</div>
          {% endblock %}
        </div>
      </div>

      <div class="container">
        <div class="content">
          {% block sidebar %}
          {% include 'sidebar.html' %}
          {% endblock %}
          {% block content %}
          {% endblock %}
        </div>
      </div>

      <div class="footer">
        <div class="content">
          &copy; 2013 {{ authors }}
          &middot;
          &nbsp;&#8747;
          &middot;
          {% if user.is_active() %}
          <a href="#" data-toggle="modal" data-target="#logoutModal">
            Logout
          </a>
          {% else %}
          <a href="#" data-toggle="modal" data-target="#loginModal">
            Administrator Login
          </a>
          {% endif %}
        </div>
      </div>
      {% if user.is_active() %}
      {% include 'logout-modal.html' %}
      {% else %}
      {% include 'login-modal.html' %}
      {% endif %}

    </div>
    <script src="/static/js/app.js"></script>
  </body>
</html>
