<a href="{{ item.link }}" class="feed-item-top">
  <div class="item-title">
    {{ item.title }}
    <span class="glyphicon glyphicon-chevron-right"></span>
  </div>
</a>
<div class="feed-item-bottom">
  {% with embeds = item.link|extract_oembed %}
  {% for embed in embeds[1] %}
  <div class="item-embed">
    {{ embeds[1][embed]['html']|safe }}
  </div>
  {% endfor %}
  {% endwith %}
  <span class="item-details">
    {{ item.text|safe }}
  </span>
  <span class="item-meta">
    {{ item.created|format_date }}
    &middot;
    {{ item.link|domain }}
  </span>
  {% if user.is_active() %}
  <a href="remote.html" class="item-edit" data-toggle="modal" data-target="#{{ item.id }}EditModal">
    <span class="glyphicon glyphicon-pencil"></span>
  </a>
  {% endif %}
</div>

{% if user.is_active() %}
<div class="modal fade" id="{{ item.id }}EditModal" tabindex="-1" role="dialog"
     aria-labelledby="{{ item.id }}EditModalLabel" aria-hidden="true">
  <form action="/feed" method="post">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="{{ item.id }}EditModalLabel">Edit Item</h4>
        </div>
        <div class="modal-body">
          <input type="hidden" name="item" value="{{ item.id }}">
          <div class="input-group">
            <label for="title">Title</label>
            <input type="text" name="title" placeholder="Title" value="{{ item.title }}">
          </div>
          <div class="input-group">
            <label for="link">Link</label>
            <input type="text" name="link" placeholder="http://" value="{{ item.link or '' }}">
          </div>
          <div class="input-group">
            <label for="text">Summary</label>
            <textarea name="text" placeholder="Enter a short summary...">{{ item.text }}</textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" name="edit" value="edit" class="btn btn-primary">Save Changes</button>
          <button type="submit" name="delete" value="delete" class="btn btn-danger pull-left">Delete</button>
        </div>
      </div>
    </div>
  </form>
</div>
{% endif %}

